<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cash Register App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="my-grid">
    <ion-row class="parent-row">
      <ion-col size=4>
        <h3>{{currProduct}}</h3>
      </ion-col>
      <ion-col size=4>
          <ion-button color="danger" expand="block" [routerLink]="['/manager']">Manager</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="parent-row">
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('1')">1</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('2')">2</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('3')">3</ion-button>
      </ion-col>
      <ion-col size=2>
        {{currTotal}}
      </ion-col>
    </ion-row>
    <ion-row class="parent-row">
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('4')">4</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('5')">5</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('6')">6</ion-button>
      </ion-col>
      <ion-col size=2>
      </ion-col>
    </ion-row>
    <ion-row class="parent-row">
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('7')">7</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('8')">8</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('9')">9</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button expand="block" (click)="makePurchase()">Buy</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="parent-row">
      <ion-col size=2>
        <ion-button color="medium" expand="block" (click)="clearQty()">Clear</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" expand="block" (click)="numClicked('0')">0</ion-button>
      </ion-col>
      <ion-col size=2>
        <ion-button color="medium" expand="block" (click)="backspace()">
          <ion-icon name="backspace-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size=2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list >
    <ion-list-header>
      {{currQty}}
    </ion-list-header>

    <ion-item *ngFor="let product of listOfProducts">
      <ion-label (click)="selectProduct(product.id)">
        <h2>{{product.name}}</h2>
        <h3>{{product.qty}}</h3>
        <p>{{product.price}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
